@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;300;500;700;800;900&family=Roboto:wght@300&display=swap');

:root {
  --primary: #2E303E;
  --secondary: #1D8FE9;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Archivo',
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--primary);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 50px;
}

.navbar {
  background-color: var(--primary);
  font-size: 0.75rem;
  height: 50px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  font-weight: 700;
}

.navbar>.container-fluid {
  background-color: var(--primary);
}

.btn-custom {
  background-color: var(--secondary);
  color: white;
  height: 33px;
  font-size: 0.75rem;
  border-radius: 5px;
  max-width: 100px;
  box-shadow: none;
  border: none;
  font-weight: 700;
}

.footer {
  background-color: var(--primary);
  color: white;
}

.footer-text {
  font-size: 0.7rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.layout {
  padding-top: 50px;
}

#intro-div {
  /* background-color: #1C1E26; */
  background: radial-gradient(circle at 0vw 100vh, #304154 0%, #1C1E26 20%);
  min-height: 100vh;
  color: white;
}

#about-div {
  background-color: #EBF4F8;
}

#featured-div {
  background: url('../public/Images/FeaturedGraphic.svg') no-repeat, radial-gradient(circle at center, #233242, #1C1E26);
  background-position: 160% 50%;
  background-size: 700px;
  color: white;
}

#contact-form-scroll-point {
  margin-top: -50px;
  padding-top: 50px;
}

.contact-decorator {
  background-color: var(--secondary);
}

.contact-form {
  background-color: #EBF4F8;
}

.about-heading {
  font-weight: 700;
}

.featured-heading {
  font-weight: 700;
}

.featured-sub-heading {
  color: #D5D8DA;
}

.contact-heading {
  font-weight: 700;
}

.about-text {
  font-weight: 500;
}

.social-link {
  color: #D5D8DA;
}

.social-link:hover {
  color: white;
  cursor: pointer;
}

.intro-heading {
  font-weight: 900;
  font-size: 2.5rem;
}

.intro-text {
  font-weight: 300;
  font-size: 0.9rem;
  text-align: justify;
  text-justify: inter-word;
}

.card {
  border-radius: 10px !important;
}

.acrylic {
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background-color: rgba(200, 200, 200, .1);
  transition: background-color .2s ease-in-out;
}

.card.acrylic:hover {
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background-color: rgba(200, 200, 200, .3);
  cursor: pointer;
}

.ig-img {
  border-radius: 10px;
}

.ig-text {
  font-size: 0.7rem;
  color: #D5D8DA;
  font-weight: 100;
  letter-spacing: 1px;
}

.ig-likes-comments {
  color: var(--secondary);
  font-size: 0.8rem;
}

.ig-date {
  color: #D5D8DA;
  font-weight: 500;
  font-size: 0.8rem;
}

.event-text {
  font-size: 0.7rem;
  font-weight: 100;
}

.featured-grapic {
  position: absolute;
  overflow: hidden;
}

.event-desc {
  font-weight: 200;
  font-size: 0.8rem;
}

.event-card-image {
  z-index: 1;
  border-radius: 30px;
}

.slick-slide {
  transition: all 1s ease;
}

.slick-slide:not(.slick-current) {
  transform: scale(0.7);
}

.nav-arrow {
  font-size: 1.5rem;
}

.nav-arrow:hover {
  cursor: pointer;
}

.event-card-image {
  mix-blend-mode: multiply;
}

.event-card {
  transition: transform 500ms ease;
}

.event-card:not(.is-selected) {
  transform: scale(0.6);
}

.event-card:not(.is-selected) .event-desc,
.event-card:not(.is-selected) .event-date {
  display: none;
}

.event-card:not(.is-selected) .acrylic {
  background-color: transparent;
}

.flickity-button {
  background-color: #2E303E;
  transition: all 0.2s ease;
}

.flickity-button-icon {
  fill: #D5D8DA;
  transform: scale(0.5);
}

.flickity-button:hover .flickity-button-icon {
  fill: #2E303E;
}

.flickity-page-dots .dot {
  display: none;
}