.Projects-page {
    background-color: #EBF4F8;
}

.right-project {
  align-items: right;
  margin-right: 10%;
  margin-left: 30%;
}

.left-project {
  align-items: right;
  margin-left: 10%;
  margin-right: 30%;
}

.badge {
  display: inline-block;

  margin-right: 1px;
  margin-left: 1px;
}

.left-project .card-body {
  margin-left: -3.6%;
}
.right-project .card-body {
  margin-right: -3.6%;
}

/* .left-project .tag-list{
  display: flex;
  flex-direction: row;
  justify-content: end;
} */
.right-project .tag-list{
  /* display: flex;
  flex-direction: row;
  justify-content: start; */
  padding: 0px;
}

.Projects-page .card-text {  
  padding: 5%;
  border-radius: 1%;
  background-color: white;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
}

.Projects-page .card-body{
  padding-top: 0px;
}

.project-image{
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
}

.project {
  padding: 3%;
}

.gh-link:hover {
  color: #6a6c6d;
  cursor: pointer;
}

.card-title {
  margin-bottom: 2px;
  /* padding-bottom: 5px; */
}


.tag {
  font-size: 12px;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 5px;
  border-radius: 5px;
}


.tag1 {
  background-color: #B7DBF4;
  border: 2px solid #1D8FE9;
}

.tag2 {
  background-color: #F0CBCE;
  border: 2px solid #FB7071;
}

.tag3 {
  background-color: #B5E0DD;
  border: 2px solid #28AB95;
}