.Projects-page {
    background-color: #EBF4F8;
}

.right-project {
  align-items: right;
  margin-right: 10%;
  margin-left: 30%;
}

.left-project {
  align-items: right;
  margin-left: 10%;
  margin-right: 30%;
}

.badge {
  display: inline-block;
  margin-right: 1px;
  margin-left: 1px;
}

.left-project .card-body {
  margin-left: -3.6%;
}
.right-project .card-body {
  margin-right: -3.6%;
}
.left-project .tag-list{
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.right-project .tag-list{
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 0px;
}

.card-text {  
  padding: 5%;
  border-radius: 1%;
  background-color: white;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
}

.project-image{
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
}

.project {
  padding: 3%;
}

.gh-link:hover {
  /* color: white; */
  cursor: pointer;
}