.topDiv {
    color: black;
    font-family: 'Archivo',
        sans-serif;
}

.teamMemberCard {
	height: 420px;
	width: 160px;
}

.teamMemberCardBackground {
	background-color: blue;
	box-shadow: 2px 2px 4px black;
	z-index: -1;
}

.teamMemberNameTag {
	background-color: white;
	box-shadow: 0px 4px 4px black;
}

.teamMemberImageContainer {
}
