.topDiv {
	position: relative;
	color: black;
	font-family: 'Archivo',
		sans-serif;
}

.topDiv h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Archivo', sans-serif;
	font-size: 3.5rem;
	font-weight: 900;
}

.teamMemberImage {
	margin-top: -2em;
	z-index: 1;
}

.teamMemberImageContainer {
	background-color: gray;
	box-shadow: 1px 5px 2px gray;
	border-radius: 1em;
	overflow-y: visible;
	z-index: -1;
}

.teamMemberNameTag {
	background-color: white;
	box-shadow: 2px 4px 3px gray;
	margin-top: -1.5em;
	margin-right: 1.5em;
	border-radius: 0.5em;
	z-index: 2;
	width: max-content;
}

.teamMemberSocialMediaIcon {
	color: black;
	filter: drop-shadow(1px 3px 1px gray);
}

.teamPage {
	background-color: #EBF4F8;
}

.teamMemberName {
	background-color: white;
	font-family: 'Archivo', sans-serif;
	font-weight: 600;
	border-radius: 5px;
	font-size: 0.9rem;
	margin-top: -1rem;
	margin-right: -1rem;
}

.teamMemberLinks {
	text-decoration: none;
	color: black;
}

.teamMemberLinks:hover {
	transform: scale(1.1);
	color: darkgray;
}